proc-api-transport-system-app-proj/src/main/mule/global/proc-api-transport-system-app-proj.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="proc-api-transport-system-app-proj-httpListenerConfig">
        <http:listener-connection host="${httplistener.host}" port="${httplistener.port}" />
    </http:listener-config>
    <apikit:config name="proc-api-transport-system-app-proj-config" api="proc-api-transport-system-app-proj.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="e3ae89e4-a042-402c-a57d-5a8df3b7664b" file="properties\globalConfiguration.yaml" />
	<flow name="proc-api-transport-system-app-proj-main">
        <http:listener config-ref="proc-api-transport-system-app-proj-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="proc-api-transport-system-app-proj-config" />
    </flow>
    <flow name="proc-api-transport-system-app-proj-console">
        <http:listener config-ref="proc-api-transport-system-app-proj-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="proc-api-transport-system-app-proj-config" />
    </flow>
    <flow name="get:\booking\(transportType)\Routes:proc-api-transport-system-app-proj-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/json
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="companyName" ><![CDATA[attributes.queryParams.'companyName']]></ee:set-variable>
				<ee:set-variable variableName="departureLocation" ><![CDATA[attributes.queryParams.departureLocation]]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation" ><![CDATA[attributes.queryParams.destinationLocation]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="request info for routes Logger" doc:id="c005039a-a3cc-423a-8bbb-50e83e5aba58" message="Request Recieved for proc-api routes for transactionId---#[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference for getRoutes" doc:id="7019d847-a9f9-48c3-9c75-6c213c8193c4" name="getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name=" Response for routes Logger" doc:id="c080779a-8e5c-443b-8768-4a99746ee6e3" message="Response sent for proc-api routes for transactionId---#[vars.transactionId]"/>
    </flow>
    <flow name="get:\booking\(transportType)\schedules:proc-api-transport-system-app-proj-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/json
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="companyName" ><![CDATA[attributes.queryParams.'companyName']]></ee:set-variable>
				<ee:set-variable variableName="departureLocation" ><![CDATA[attributes.queryParams.departureLocation]]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation" ><![CDATA[attributes.queryParams.destinationLocation]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="request info for schedules Logger" doc:id="6a6f4896-a58e-421d-a627-2bf1ed4dec54" message="Request Recieved for proc-api schedules for transactionId---#[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference for getSchedules" doc:id="728a7fdc-bbf6-4c38-bc19-a58e9c3547c4" name="getSchedule-implementationSub_Flow" />
		<logger level="INFO" doc:name=" Response for schedules Logger" doc:id="6cf146d3-b732-41fa-b526-24bf7547e153" message="Response sent for proc-api schedules for transactionId---#[vars.transactionId]"/>
    </flow>
</mule>
